# General ignores
.DS_Store
*.log
*.env

# Node dependencies for the blog project
blog/node_modules/

# Ignore Eleventy build output directory
blog/_site/

# Ignore final combined site build directory
_final_site/

# Editor/IDE specific files
.vscode/
.idea/

# Temporary files
tmp/