.post-list__title a,
.site-title a,
.post__tags a,
.post__pagination a,
.tags-list a,
.post-list__tags a,
.all-posts-link,
.nav__list a,
.post__details a {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.post-list__title a::before,
.site-title a::before,
.post__tags a::before,
.post__pagination a::before,
.tags-list a::before,
.post-list__tags a::before,
.all-posts-link::before,
.nav__list a::before,
.post__details a::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CBFF12;
  z-index: -1;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.post-list__title a:hover::before,
.site-title a:hover::before,
.post__tags a:hover::before,
.post__pagination a:hover::before,
.tags-list a:hover::before,
.post-list__tags a:hover::before,
.all-posts-link:hover::before,
.nav__list a:hover::before,
.post__details a:hover::before {
  opacity: 1;
  animation: coverUp 0.5s ease forwards;
}

.post-list__title a:hover,
.site-title a:hover,
.post__tags a:hover,
.post__pagination a:hover,
.tags-list a:hover,
.post-list__tags a:hover,
.all-posts-link:hover,
.nav__list a:hover,
.post__details a:hover {
  outline: none;
}

@keyframes coverUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 0.045, 1);
  }
  50% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }
  51% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0.045, 1);
  }
}
