@import 'variable.css';
@import 'global.css';
@import 'typography.css';
@import 'links.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post-list.css';
@import 'post.css';
@import 'about.css';
@import 'not-found.css';
@import 'prism-theme.css';

.main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
  min-width: 0;
  max-width: 48.75rem;
  margin-left: auto;
  margin-right: auto;
}
