{# Renders a list of posts with metadata, tags, and excerpt #}
<ul class="post-list">
  {% for post in postslist | reverse %}
    <li class="post-list__item">
      <div>
        <div class="post-list__meta">
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate('yyyy-MM-dd') }}</time> <span class="dot-sep">◦</span> <span class="read-time">{{ post.templateContent | readingTime }}</span>
        </div>

        <div class="post-list__tags">
          {% for tag in post.data.tags %}
            {# Only show tags that are in the tagList collection #}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}">#{{ tag }}</a>{% if not loop.last %} <span class="tag-sep">+</span>{% endif %}
            {%- endif -%}
          {% endfor %}
        </div>
      </div>

      <h3 class="post-list__title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>

      <p class="post-list__excerpt">{{ (post.data.description or post.templateContent) | excerpt | safe  }}</p>

      <a class="post-list__read-more" href="{{ post.url }}">
        <span class="dot"></span> 
        <span class="read-more-text">
          read post
          <svg class="squiggle-svg" width="100%" height="9" viewBox="0 0 101 9" aria-hidden="true">
            <path d="M.426 1.973C4.144 1.567 17.77-.514 21.443 1.48 24.296 3.026 24.844 4.627 27.5 7c3.075 2.748 6.642-4.141 10.066-4.688 7.517-1.2 13.237 5.425 17.59 2.745C58.5 3 60.464-1.786 66 2c1.996 1.365 3.174 3.737 5.286 4.41 5.423 1.727 25.34-7.981 29.14-1.294" stroke="#CBFF12" stroke-width="2" fill="none" pathLength="1"></path>
          </svg>
        </span>
      </a>
    </li>
  {% endfor %}
</ul>