/* Comico Regular. Copyright Indian Type Foundry. All rights reserved.
   ITF Free Font License: https://www.fontshare.com/licenses/itf-ffl */
@font-face {
  font-family: 'Comico';
  src: url('./comico-regular.ff3e3214ef73.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
